<h3>Product Component</h3>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th><th>Name</th><th>Available</th><th>Price</th><th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <!-- structural Directive -->
        <tr *ngFor="let p of products">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td [class.stock]="true">{{p.available}}</td>
            <td>{{p.price}}</td>
            <td [style.font-weight]="700">{{p.rating}}</td>
        </tr>
    </tbody>
</table>