<div class="row">
    <div class="col-md-6 offset-3">
        <h3>Contact Us by Submitting below Mentioned Form</h3>

    <form>
        <div class="form-group">
            <label>Name:</label>
            <input type="text" placeholder="Name" class="form-control">
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="email" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
            <label>Phone:</label>
            <input type="number" placeholder="Phone" class="form-control">
        </div>
        <div class="form-group">
            <label>Message:</label>
            <input type="text" placeholder="Message" class="form-control">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    </div>
    
</div>